<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taoy3.framwork">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>

        <!-- <receiver -->
        <!-- android:name=".receiver.MyReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="Abc"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <service
            android:name=".service.MyIntentService"
            android:exported="false" />
        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ActivityService.SystemServiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityService.AlarmActivity" />
        <activity android:name=".ActivityService.AudioActivity" />
        <activity android:name=".ActivityService.ConnectActivity" />
        <activity android:name=".ActivityService.NotificationActivity" />
        <activity android:name=".ActivityService.SmsActivity" />
        <activity android:name=".ActivityService.TelActivity" />
        <activity android:name=".ActivityService.VibratorActivity"></activity>
    </application>

</manifest>